*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    --mainColor: #f4623a;
}
.container{
    width:80%;
    margin:auto;
}
.header{
    overflow:hidden;
    position:fixed;
    width:100%;
    padding:1rem 0;
    z-index:9999;
} 
.logo{
    float:left;
    width:35%;
    color:#FFF;
    text-transform:uppercase;
}
.navbar{
    float:left;
    width:65%;
    text-align:right;
}
.navbar ul{
    list-style:none;
}
.navbar ul li{
    display:inline-block;
}
.navbar ul li a{
    text-decoration:none;
    text-transform:capitalize;
    color:#FFF;
    font-size:17px;
    margin:0 2rem;
}
.navbar ul li a:last-child{
    margin-right:0;
}
/* end header */

/* start home */
.home{
    background-image:url('../images/bg-masthead.jpg');
    height:100vh;
    background-size:cover;
    background-position:center;
}
.home::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
}
.home__content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    z-index: 99;
}
.home__content h1{
    color:#FFF;
    font-size:40px;
    text-transform: uppercase;
    line-height:1.3;
}
.home__content .line,
.about__content .line,
.service .line,
.contact .line{
    display:block;
    background-color: var(--mainColor);
    width: 50px;
    height:3px;
    margin:.5rem auto;
}
.home__content p,
.about__content p{
    color:#888;
    font-size:20px;
    margin:1.5rem 0;
}
.home__content a,
.about__content a,
.download a{
    background-color:var(--mainColor);
    padding:1rem 1.5rem;
    color:#FFF;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:50px;
    margin-top:1rem;
    display:inline-block;
}
/* end home */

/* start about */
.about{
    background-color:var(--mainColor);
    padding:5rem 0;
}
.about__content{
    text-align:center;
}
.about__content h2,
.download h2{
    font-size:35px;
    color:#FFF;
}
.about__content .line{
    background-color:#FFF;
}
.about__content p{
    color:#CCC;
    width:50%;
    margin:auto;
}
.about__content a,
.download a{
    color:#000;
    background-color:#FFF;
}
/* end about */

/* start services */
.service{
    margin:3rem 0;
}
.service h2,
.contact h2{
    text-align:center;
    text-transform:capitalize;
}
.service__items{
    overflow:hidden;
    margin:2rem 0;
}
.service__item{
    float:left;
    width:25%;
    text-align:center;
    padding:0 1rem;
}
.service__item i,
.contact__item i{
    color:var(--mainColor);
    font-size:40px;
}
.service__item h3{
    margin:1rem 0;
}
/* end services */

/* start portfolio */
.portfolio{
    overflow:hidden;
}
.portfolio__Item{
    float:left;
    width:33.33%;
    position:relative;
    cursor:pointer;
}
.portfolio__Item .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--mainColor);
    z-index:2;
    opacity:0;
    transition:.5s ease-in;

}
.overlay__content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#FFF;
}
.portfolio__Item img{
    width:100%;
    height:100%;
    display:block;
}
.portfolio__Item:hover .overlay{    opacity:1;
}
/* end portfolio */

/* start download */
.download{
    background:#343a40 ;
    padding:5rem 0;
    text-align:center;
}
/* end download */

/* start contact */
.contact{
    margin:3rem 0;
}
.contact>p{
    width:80%;
    color:#888;
    font-size:20px;
    margin:auto;
    text-align:center;
}
.contact__items{
    overflow:hidden;
    margin:2rem 0;
}
.contact__item{
    width:50%;
    text-align:center;
    float:left;
    padding:1rem;
}
.contact__item p{
    margin:1.5rem 0;
    font-size:20px;
    color:#888;
}
.contact__item i{
    color:#888;
}
.contact__item p a{
    color:var(--mainColor);
}
/* end contact */

/* start footer */
.footer{
    text-align:center;
    color:#888;
    padding:2rem 0;
    font-size:18px;
    text-transform:capitalize;
}
/* end footer */
